body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #30302f;
}

h1 {
  font-weight: 100;
  font-size: 4em;
  margin: 35px;
}

h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
  margin: 10px 35px;
}

#navbar {
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

#navlink {
  display: inline;
  padding: 15px;
}

#landingButton {
  font-weight: 300;
  font-style: italic;
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  height: 400px;
}

#right-landing, #left-landing {
  margin: auto;
}

/* Needed for flex styling */
#landing-buttons {
  width: 100%;
  display: inline-flex;
}
